body {
	font-family: Arial, sans-serif;
	margin: 5px;
	padding: 5px;
	background-color: #FCFCFC;
}

.button {
	font-size: 11px;
	color: #666666;
	background-color:#FFF;
	border: 1px solid #DADDD0;
	margin: 2px;
	padding: 2px;
	background-image: url(images/but.gif);
}
 
.inputbox {
	border: 1px solid #CCCCCC;
	background-color: #F3F3F3;
	margin: 2px;
	color: #666666;
}

.form-head {
	font-size: 14px;
	text-align: center;
	padding: 5px;
	padding-bottom: 10px;
	font-weight: bold;
	border-bottom: 1px dotted #666666;
}

.form-section-head {
	font-size: 12px;
	text-align: left;
	padding: 5px;
	padding-top: 10px;
	font-weight: bold;
}

.form-text {
	font-size: 12px;
	padding: 2px;
	padding-top: 5px;
	vertical-align: top;
}

.form-desc {
	font-size: 11px;
	padding: 2px;
	padding-top: 5px;
	vertical-align: top;
}

.form-pagenav {
	font-family: Courier New, Courier;
	font-size: 11px;
	text-align: right;
	padding: 3px;
	vertical-align: top;
}

.rowdata {
	background-color: #EAECEE;
}

.rowdatasel {
	background-color: #D8E1EB;
}

td.header {
	background-color: #DDDDDD;
	vertical-align: middle;
}

div.readme {
	font-family: Courier New, Courier;
	font-size: 12px;
	margin-left: 15px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	white-space: pre;
}

div.title {
	font-family: Verdana;
	font-variant: small-caps;
	font-size: 30px;
	font-weight: bold;
	margin-top: 5px;
}

div.dbver {
	font-family: Verdana;
	font-size: 10px;
	font-weight: bold;
	margin: 0px;
}

div.main-menu {
	font-family: Arial Narrow;
	font-size: 14px;
	margin-top: 10px;
	margin-left: 5px;	
}

ul.sub-menu {
	font-family: Arial Narrow;
	font-size: 12px;
	text-align: left;
	text-indent: 0;
	list-style-type: none;
	padding:0px;
	margin-left: 10px;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
}

div.desc-title {
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	margin: 5px;
}

div.description {
	font-family: Arial;
	font-size: 11px;
	margin: 5px;
}

div.auth-info {
	margin-top: 10px;
}

div.content-head {
	margin:10px;
	border-top: 1px dotted #666666;
	border-bottom: 1px dotted #666666;
}

div.content {
	margin:10px;
}